block variables

doctype html
html

  head
    meta(charset='utf-8')
    meta(name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    meta(name="theme-color" content="#333333ff")
    title TED a car
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700', rel='stylesheet')
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600,700,800" rel="stylesheet">
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.css')
    link(rel='stylesheet', href='css/style.css')
    <link id="revealatorCss" rel="stylesheet" href="css/fm.revealator.jquery.min.css">
    <link rel="icon" href="img/favicon.png" type="image/x-icon">
    <meta name="format-detection" content="telephone=no">

  body
        .preloader
          .loading-indicator
            
        main(class=`${pageName}-page`)
          include header
          block content
          include cookies
          if pageName != 'index' && pageName != 'contacts'
              include footer

  script(src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous")
  script(src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js')
  script(src='js/main.js')
  script(id="revealator" src="js/fm.revealator.jquery.min.js")
