extends ../components/layout.pug

block variables

  - var pageName = 'cart'

block content
    .main-container-cart
        .wrapper
            .cart-block
                .cart-block__header
                    h1 #[span Shopping] cart
                .cart-block__cart
                    .column-labels
                        label.product-details 
                        label.product-price Price
                        label.product-quantity Quantity
                        label.product-line-price Total
                        label.product-removal Remove
                    .product
                        .product__item
                            .product__item__image
                                img(src="img/Ted pdhoto dla strony/SNOW FRESH bez otrajenia.png")
                            .product__item__details
                                p.product-description #[span.ted-name Ted a Car] Joma
                        .product__price 12.99
                        .product__quantity
                            button.minus-btn(
                                type="button"
                                name="button") -
                            input(
                                type='text'
                                value='1'
                                min='1'
                                )
                            button.plus-btn(
                                type="button"
                                name="button"
                                ) +
                        .product__line-price 12.99
                        .product__removal
                            a.remove-product
                                img.remove-krest(src="img/Krest.svg")
                    .product
                        .product__item
                            .product__item__image
                                img(src="img/Ted phodto dla strony/ALLURE bez otrajenia .png")
                            .product__item__details
                                p.product-description #[span.ted-name Ted a Car] BLV
                        .product__price 45.99
                        .product__quantity
                            button.minus-btn(
                                type="button"
                                name="button") -
                            input(
                                type='text'
                                value='1'
                                min='1'
                                )
                            button.plus-btn(
                                type="button"
                                name="button"
                                ) +
                        .product__line-price 45.99
                        .product__removal
                            a.remove-product
                                img.remove-krest(src="img/Krest.svg")
                    .totals
                        .totals__titles
                            .titles-wrapper
                                label.titl
                                    h4 #[span Delivery] Point
                                label.titl
                                    h4 #[span Total] Quantity
                                label.titl
                                    h4 #[span Total] Price
                        .totals__values
                            .values-wrapp
                                label.radio-delivery
                                    .radio-wrapp
                                        input#qwe(
                                            type='radio'
                                            name='dilivery'
                                            value='3'
                                            checked
                                            )
                                        input#qwe(
                                            type='radio'
                                            name='dilivery'
                                            value='5'
                                            )
                                    .radio-labeles-wrapp
                                        .radio-labeles-wrapp__label
                                            p Poland
                                        .radio-labeles-wrapp__label
                                            p World
                                label.common-quantity 4
                                label.common-price 90.57
                                .delivery-label (Delivery costs included)
                        .buttons-links
                            a.cart-prev-btn(href="shop.html")
                                p #[span.triangle] RETURN
                            a.cart-next-btn(href="payment.html")
                                p CONTINUE #[span.triangle]
                        .ted-fon
                            img(src="img/TED EBASOS.svg")
                .cart-empty
                    .cart-empty__header
                        h1 Your cart is empty
                    .cart-empty__logo
                        img(src="img/SADTED.png")
                    .cart-empty__subtext
                        p But you can fix it
                    a.cart-empty__btn(href="shop.html")
                        p Return to shop






