extends ../components/layout.pug

block variables

  - var pageName = 'payment'

block content
    .main-container-payment
        .wrapper
            .payment-content
                .payment-content__header
                    h1 #[strong Personal] information
                .payment-content__personal-info
                    .ted-fon-payment
                        img(src="img/TED EBASOS.svg")
                    form.ted-info(action="" method="post")
                        .input-wrapp
                            input#name(
                                type="input"
                                name="name"
                                placeholder="Your Name"
                                autocomplete="off"
                                required
                                )
                        .input-wrapp
                            input#email(
                                type="email"
                                name="email"
                                placeholder="Email"
                                autocomplete="off"
                                required
                                )
                        .input-wrapp
                            input#phone(
                                type="text"
                                name="phone"
                                placeholder="Phone"
                                autocomplete="off"
                                required
                                )
                        .input-wrapp
                            input#adress(
                                type="text"
                                name="adress"
                                placeholder="Country"
                                autocomplete="off"
                                required
                                )
                        .input-wrapp
                            input#street(
                                type="text"
                                name="street"
                                placeholder="Address"
                                autocomplete="off"
                                required
                                )
                        .input-wrapp
                            input#zipcode(
                                type="text"
                                name="zipcode"
                                placeholder="Zip code"
                                autocomplete="off"
                                required
                                )
                        .input-wrapp
                            input#city(
                                type="text"
                                name="city"
                                placeholder="City"
                                autocomplete="off"
                                required
                                )
                        .ted-info-payment
                            .ted-info-payment__item
                                input#pay(
                                    type="radio"
                                    name="paytype"
                                    value="paypal"
                                    checked
                                    )
                                label(for="pay") PayPal
                                .payment-btn
                                    img(src="img/PayPal.svg")
                            .ted-info-payment__item
                                input#payu(
                                    type="radio"
                                    name="paytype"
                                    value="payu"
                                    disabled='disabled'
                                    )
                                label(for="pay") PayU
                                .payment-btn
                                    img(src="img/PayU.svg")
                            .ted-info-payment__item
                                input#payapple(
                                    type="radio"
                                    name="paytype"
                                    value="applepay"
                                    disabled='disabled'
                                    )
                                label(for="pay") Apple Pay
                                .payment-btn
                                    img(src="img/applepay.svg")
                                p (Soon)
                        .links-btns
                            a.pay-prev-btn(href="cart.html")
                                p #[span.triangle] Back
                            input#pay(type="submit" value="PAY")

