extends ../components/layout.pug

block variables

  - var pageName = 'shop'

block content
    .main-container-shop
        .wrapper
            .shop-item(data-slider-logos-text)
                .shop-item-wrap
                    .shop-item-wrap__description.revealator-slidedown.revealator-once.revealator-delay3
                        .shop-header
                            h1 #[strong miss] ted
                        .shop-text
                            p Miss Ted - a symbol of elegance, perfection and luxurt. An aroma for romantic woman who desires the embrance of a passionate romance. In the beginning, your senses will be mastered by a refreshing coctail of fruity tones that will fill you with new energy and endless optimism
                    .shop-item-wrap__price.revealator-slidedown.revealator-once.revealator-delay5
                        .price-amount
                            p Price: #[span.price-item 10] 
                        .item-quantity
                            button.minus-btn(
                                    type="button"
                                    name="button") -
                            input.item-amount(
                                type='text'
                                value='1'
                                min='1'
                                )
                            button.plus-btn(
                                type="button"
                                name="button"
                                ) +
                        button.add-to-cart(
                            type="submit"
                            value="submit"
                            ) Add to cart
                    .shop-item-wrap__img.revealator-slidedown.revealator-once.revealator-delay7
                        img.shop(src="img/Ted photo dla strony/SNOW FRESH.png")
                .shop-item-wrap
                    .shop-item-wrap__description.revealator-slidedown.revealator-once.revealator-delay3
                        .shop-header
                            h1 Allure
                        .shop-text
                            p Allure - Luxurious, sexy with a delicate yet palpable note of vanilla. A fragrance created for individualists, women who love traveling and extreme romance. Suitable for both day and evening, for official meetings and for casual occasions.
                    .shop-item-wrap__price.revealator-slidedown.revealator-once.revealator-delay5
                        .price-amount
                            p Price: #[span.price-item 4]
                        .item-quantity
                            button.minus-btn(
                                    type="button"
                                    name="button") -
                            input.item-amount(
                                type='text'
                                value='1'
                                min='1'
                                )
                            button.plus-btn(
                                type="button"
                                name="button"
                                ) +
                        button.add-to-cart(
                            type="submit"
                            value="submit"
                            ) Add to cart
                    .shop-item-wrap__img.revealator-slidedown.revealator-once.revealator-delay7
                        img.shop(src="img/Ted photo dla strony/ALLURE .png")
                .shop-item-wrap
                    .shop-item-wrap__description.revealator-slidedown.revealator-once.revealator-delay3
                        .shop-header
                            h1 Candy
                        .shop-text
                            p Candy - floral aroma, dedicated to all women who are not afraid to show their opinion and defend what’s theirs. Give yourself in to temptation in the form of pink strength. Leave the crowd and shine. Start doing everything your own way and gain energy to overcome everyday obstacles.
                    .shop-item-wrap__price.revealator-slidedown.revealator-once.revealator-delay5
                        .price-amount
                            p Price: #[span.price-item 6]
                        .item-quantity
                            button.minus-btn(
                                    type="button"
                                    name="button") -
                            input.item-amount(
                                type='text'
                                value='1'
                                min='1'
                                )
                            button.plus-btn(
                                type="button"
                                name="button"
                                ) +
                        button.add-to-cart(
                            type="submit"
                            value="submit"
                            ) Add to cart
                    .shop-item-wrap__img.revealator-slidedown.revealator-once.revealator-delay7
                        img.shop(src="img/Ted photo dla strony/blv.png")
                .shop-item-wrap
                    .shop-item-wrap__description.revealator-slidedown.revealator-once.revealator-delay3
                        .shop-header
                            h1 #[span Caramel] frappe
                        .shop-text
                            p Caramel frappe - a gentle caramel with bright coffee notes. Now the aroma of invigorating coffee will not leave you, giving energy of coffee and the pleasant, sweet bitterness of caramel.
                    .shop-item-wrap__price.revealator-slidedown.revealator-once.revealator-delay5
                        .price-amount
                            p Price: #[span.price-item 13]
                        .item-quantity
                            button.minus-btn(
                                    type="button"
                                    name="button") -
                            input.item-amount(
                                type='text'
                                value='1'
                                min='1'
                                )
                            button.plus-btn(
                                type="button"
                                name="button"
                                ) +
                        button.add-to-cart(
                            type="submit"
                            value="submit"
                            ) Add to cart
                    .shop-item-wrap__img.revealator-slidedown.revealator-once.revealator-delay7
                        img.shop(src="img/Ted photo dla strony/BRITISH.png")
                .shop-item-wrap
                    .shop-item-wrap__description.revealator-slidedown.revealator-once.revealator-delay3
                        .shop-header
                            h1 One
                        .shop-text
                            p One - the fragrance will emphasize your attractiveness, class and elegance. It's a luxurious, luxurious fragrance that is famous for its aldehyde and aromatic essences that will delight everyone around you. Reveal your masculinity and personality.
                    .shop-item-wrap__price.revealator-slidedown.revealator-once.revealator-delay5
                        .price-amount
                            p Price: #[span.price-item 5]
                        .item-quantity
                            button.minus-btn(
                                    type="button"
                                    name="button") -
                            input.item-amount(
                                type='text'
                                value='1'
                                min='1'
                                )
                            button.plus-btn(
                                type="button"
                                name="button"
                                ) +
                        button.add-to-cart(
                            type="submit"
                            value="submit"
                            ) Add to cart
                    .shop-item-wrap__img.revealator-slidedown.revealator-once.revealator-delay7
                        img.shop(src="img/Ted photo dla strony/bubble gum.png")
                .shop-item-wrap
                    .shop-item-wrap__description.revealator-slidedown.revealator-once.revealator-delay3
                        .shop-header
                            h1 Joma
                        .shop-text
                            p Joma - The essence of autumn. The sensual freshness of ripe pears embraces a bouquet of white freesias and warms up the aroma of ambergris, patchouli and trees. Warm and attractive.
                    .shop-item-wrap__price.revealator-slidedown.revealator-once.revealator-delay5
                        .price-amount
                            p Price: #[span.price-item 1]
                        .item-quantity
                            button.minus-btn(
                                    type="button"
                                    name="button") -
                            input.item-amount(
                                type='text'
                                value='1'
                                min='1'
                                )
                            button.plus-btn(
                                type="button"
                                name="button"
                                ) +
                        button.add-to-cart(
                            type="submit"
                            value="submit"
                            ) Add to cart
                    .shop-item-wrap__img.revealator-slidedown.revealator-once.revealator-delay7
                        img.shop(src="img/Ted photo dla strony/candy.png")
            .slider-btn-wrap.revealator-slideup.revealator-delay5.revealator-once.revealator-duration10
                .ted-fon-slider
                    img(src="img/Charity.svg")
                .ted-fon-slider-pl
                    img(src="img/blagotworitelnost.svg")
                .btn-left(data-slider-logos-prev)
                    span
                .slider-nav(data-slider-logos)
                    .img-ted-mini
                        img(src='img/Ted photo dla strony/SNOW FRESH bez otrajenia.png')
                    .img-ted-mini
                        img(src='img/Ted photo dla strony/ALLURE bez otrajenia .png')
                    .img-ted-mini
                        img(src='img/Ted photo dla strony/blv bez otrajenia.png')
                    .img-ted-mini
                        img(src='img/Ted photo dla strony/BRITISH bez otrajenia.png')
                    .img-ted-mini
                        img(src='img/Ted photo dla strony/bubble gum bez otrajenia.png')
                    .img-ted-mini
                        img(src='img/Ted photo dla strony/candy bez otrajenia.png')
                .btn-right(data-slider-logos-next)
                    span
            .buttons-links
                a.cart-prev-btn(href="special.html")
                    p #[span.triangle] Special offers
                a.cart-next-btn(href="cart.html")
                    p CONTINUE #[span.triangle]
